<div class="admin-layout">

  <!-- ── MOBILE TOPBAR ── -->
  
<nav class="navbar">
  
  <!-- LEFT -->
  <a class="navbar-left brand-link" routerLink="/home">
  <div class="logo-icon">🎓</div>
  <span class="brand-text">EduCal</span>
</a>

  <!-- CENTER -->
  <div class="navbar-center">

    <a class="nav-item"
       [class.active]="section === 'dashboard'"
       (click)="setSection('dashboard')">
      Dashboard
    </a>

    <a class="nav-item"
       [class.active]="section === 'Formateurs'"
       (click)="setSection('Formateurs')">
      Formateurs
    </a>

    <a class="nav-item"
       [class.active]="section === 'etudiants'"
       (click)="setSection('etudiants')">
      Étudiants
    </a>

    <a class="nav-item"
       [class.active]="section === 'cours'"
       (click)="setSection('cours')">
      Formations
    </a>

    <a class="nav-item"
       [class.active]="section === 'paiements'"
       (click)="setSection('paiements')">
      Paiements
    </a>

    <a class="nav-item"
       [class.active]="section === 'categories'"
       (click)="setSection('categories')">
      Catégories
    </a>

    <a class="nav-item"
       [class.active]="section === 'blocked'"
       (click)="setSection('blocked')">
      Bloqués
    </a>

  </div>

  <!-- RIGHT -->
  <div class="navbar-right">
    <div class="user-avatar">{{ initiales }}</div>

    <button class="btn-logout" (click)="logout()">
      Déconnexion
    </button>
  </div>

</nav>
  <!-- ── MAIN ── -->
  <main class="main-content">
    <app-admin-dashboard  *ngIf="section === 'dashboard'"></app-admin-dashboard>
    <app-admin-formateurs *ngIf="section === 'Formateurs'"></app-admin-formateurs>
    <app-admin-etudiants  *ngIf="section === 'etudiants'"></app-admin-etudiants>
    <app-admin-cours      *ngIf="section === 'cours'"></app-admin-cours>
    <app-admin-paiements  *ngIf="section === 'paiements'"></app-admin-paiements>
    <app-categories       *ngIf="section === 'categories'"></app-categories>
    <app-admin-bloques    *ngIf="section === 'blocked'"></app-admin-bloques>
  </main>

</div>
